.elemTopbar {
	width: 100%;
	height: 66px;
	background-color: #FFFFFF;
	position: relative;
	top: 0px;
	left: 0px;
	border-bottom: 2px solid #E1E1E1;
}

.elemTopbar:hover {
	outline: 2px solid #64AFED;
}

.elemButton {
	position: absolute;
}

.elemButton#back {
	width: 83px;
	height: 24px;
	left: 9px;
	top: 21px;
}

.elemIcon {
	position: absolute;
	background-size: 100%;
}

.elemIcon#back {
	width: 8px;
	height: 14px;
	margin: 5px 0px;
	background-image: url(../img/Chevron.png);
}

.elemButtonLabel {
	position: absolute;	
}

.elemButtonLabel#back {
	left: 14px;
	top: 3px;
}

.elemLabel {
	position: absolute;
}

.elemLabel#detail {
    width: 100%;
    height: 24px;
    left: 0px;
    text-align: center;
    top: 24px;
}

.elemLabelText {
	font-weight: 700;
}

.elemButton#add {
	width: 83px;
	height: 24px;
	left: 314px;
	top: 21px;
}

.elemButtonLabel#add {
	left: 0px;
	top: 3px;
}





















