.artboard {
	position: relative;
	background-color: #F3F3F3;
	border: 1px solid #CCCCCC;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;
}

.artboard.iphone7 {
	width: 375px;
	height: 667px;
	left: 50%;
	top: 50%;
	margin: -333px 0px 0px -187px;
}