* {
	user-select: none;
	cursor: default;
}

body {
	background-color: #eeeeee;
}

/* Native Topbar */
.topbar {
	width: 100%;
	background: -webkit-linear-gradient(rgb(233,233,233), rgb(215,215,215));
	border-bottom: solid 1px rgb(158,158,158);
	height: 68px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	box-shadow: inset 0px 1px 0px rgb(245,245,245);
	-webkit-app-region: drag;
}

.appLabel {
	text-align: center; 
	line-height: 24px;
	font-family: 'SF UI Text';
	font-weight: 300;
	font-size: 13px;
	user-select: none;
}

.contentView {
	width: 100%;
    position: fixed;
    left: 0px;
    top: 68px;
}

.leftView {
	background-color: #EFEFEF;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	border-right: 1px solid #CCCCCC;
	z-index: 999;
}

.rightView {
	background-color: #EFEFEF;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 1;
}